<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Exchange Tool</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body >
	<div id="app" :key="exg">
		<div id="exchange" class="grid-container" >

			
			<div class="grid-item">
				<h3> CURRENCY: {{ exg }}</h3>
				<ul>
					<li v-for="rate, value in Object(data.rates)" ><button v-on:click="clicked(value)">{{value}}</button> : {{rate}} </li>
			</ul>
			</div>


			<div class="grid-item">
			<h3> Exhange Calculator:</h3>
			<div>
				<p>From:</p>
				<select v-model="selectedFromCurrency">
					<option v-for="rate, value in Object(data.rates)" :value="value" >
					{{value}} </option>
					</select>
				<input v-model="inputAmount" v-on:keyup="write(inputAmount)" placeholder="exchange here...">
			
			
			
			
				<button v-on:click="swap(selectedFromCurrency,selectedToCurrency)">Swappie </button>
					
					<p>To:</p>
					<select v-model="selectedToCurrency">
                        <option v-for="rate, value in Object(data.rates)"  v-on:click="write(inputAmount)" :value="value" >
                        {{value}} </option>
                        </select>
                    <input v-model="outputAmount" v-on:click="write(inputAmount)" placeholder="output here..."> 

					
				
				</div>
				</div>

		</div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>