 body {
    font-family: tahoma;
    color:#282828;
    margin: auto;

  }
 
  button {
    background-color: wheat; /* Green */
    border: none;
    color: olive;
    padding: 5px 1,5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } 
  
  .disabledButton {
    background-color: #d8d8d8;
  }
  
  .review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
  }
  
  input {
    width: 100%;  
    height: 25px;
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    height: 60px;
  }

  .grid-container {
    display: flex;
    
    justify-content: center;
    flex-direction: row;
    background-color:wheat;
    padding: 10px;
    
    
  }
  .grid-item {
    background-color: olive;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
  }li{
    list-style: none;
    
  }
 

  